name: E2E Tests
on: [push, pull_request,workflow_dispatch]


permissions:
  contents: write # Required to publish the report to GitHub Pages
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23.7.0
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Webdriverio Tests
        run: npm run wdio # Ensure this script generates 'allure-results' folder
        continue-on-error: true # Crucial: Allows report generation even if tests fail

      - name: Upload Allure Results as artifacts
        uses: actions/upload-artifact@v4
        with: 
          name: allure-results-artifact
          path: allure-results
          retention-days: 2
      
      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy Report to Github Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
          publish_branch: gh-pages

