name: E2E Tests
on: [push, pull_request]

permissions:
  contents: write # Required to publish the report to GitHub Pages

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23.7.0
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Webdriverio Tests
        run: npm run wdio # Ensure this script generates 'allure-results' folder
        continue-on-error: true # Crucial: Allows report generation even if tests fail

      - name: Get Allure History
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with: 
          allure-results: allure_results
          allure_history: allure_history
          keep_reports: 20

      - name: Deploy Report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
          publish_branch: gh-pages

