name: E2E Tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23.7.0
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Run Webdriverio Tests
        run: npm run wdio
